[Unit]
Description = External 1TB HD

[Mount]
What = LABEL=ext41tb
Where = /mnt/torrents
Type = ext4
Options = rw,relatime,data=ordered

[Install]
WantedBy = multi-user.target
