[Unit]
Description = External 1TB HD

[Mount]
What = /dev/sda1
Where = /data/mount
Type = ext4
Options = rw,relatime,data=ordered

[Install]
WantedBy = multi-user.target
